extends layout

block content
    form(role='form' method='post' action='http://localhost:3000/users/'+postId)
        div.actions
            input(type="submit", value="add")

    h1= postId
    h1= name
    ul: each val, index in array
      li #{index + 1}: #{val.name}