extends layout

block content
    h1= title
    form(role='form' method='get' action='http://localhost:3000/users/')
        div.input
            span.label index page
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")